.card {
  height: 227px;
  width: 141px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin: 0px 142px 30px;
  cursor: pointer
}

.card img {
  height: 141px;
  bottom: 0;
  border-radius: 10px;
}

.card div {
  background-color: var(--cards-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}