@keyframes reveal {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal{
  color: white;
  background-color:rgba(45, 45, 45, 0.8);
  border-radius: 9px;
  max-width: 727px;
  height: 800px;
  margin: 80px auto 0 auto;
  padding: 15px;  
  animation: reveal .6s;  
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}

.modal button{

  position: absolute;
  float: right;
  border-radius: 9px;
  outline: none;
  background-color: unset;
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .modal{
    margin: 20px auto 0px auto;
    height: 600px;
  }
}